@use "../utils/functions" as *;
@use "../utils/mixins" as *;

.footer-section {
  position: relative;
  padding-block: 0.25rem;
  margin-top: 8rem;
  padding-top: 6rem;
  color: #ffffff;
  background-color: #0f193d;

  &__card {
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 70rem;
    color: #0f193d;
    background-color: #ffffff;
    padding: fluid(1.5rem, 3rem);
    border-radius: 1.5rem;
    border: #0f193d;
    border-style: solid;
    border-width: 0.75px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__card-heading {
    font-weight: 700;
    font-size: fluid(1.25rem, 2rem);
    line-height: 120%;
    color: #333333;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &__card-button {
    background-color: #0f193d;
    color: #ffffff;
    padding: 12px 32px;
    border: none;
    border-radius: 41px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
  }

  &__body {
    // max-width: 85rem;
    width: 100%;
    margin-inline: auto;
    padding-inline: fluid(2rem, 4rem);
    padding-block: fluid(2rem, 5rem);

    &__container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 3rem;
      margin-bottom: 4rem;
      padding-bottom: 3rem;
      border-bottom: 1px solid #1f2937;

      @media (min-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: 1024px) {
        grid-template-columns: repeat(6, 1fr);
        gap: 1.5rem;
        align-items: start;
      }

      // 1. Column styling
      &-column1 {
        grid-column: span 2 / span 2;
        @media (min-width: 1024px) {
          grid-column: span 1 / span 1;
        }
      }

      // 2. Header styling
      &-header {
        margin-bottom: 1.5rem;
        font-weight: 600;
        font-size: 16px;
        line-height: 29px;
        color: #e2c8aa;

        a {
          color: inherit;
          text-decoration: none;
        }
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        font-size: 14px;
        list-style: none;

        li a {
          text-decoration: none;
          color: #ffffff;
          font-size: fluid(10px, 16px);
          font-weight: 300;
          line-height: 28px;
          list-style: none;
          transition: color 0.2s;
          &:hover {
            color: #e2c8aa;
          }
        }
      }

      // 4. Newsletter styling
      &-newsletter {
        grid-column: span 2 / span 2;
        background-color: #1e2542;
        padding: 1.5rem;
        border-radius: 1rem;
        align-self: center;

        @media(min-width: 1024px){
          padding: fluid(16px, 32px);
        }

        h4 {
          font-weight: 700;
          margin-bottom: 0.5rem;
          color: #fff;
        }
        p {
          font-size: 0.75rem;
          color: #9ca3af;
          margin-bottom: 1rem;
        }
        .input-group {
          display: flex;
          background-color: #fff;
          border-radius: 9999px;
          padding: 0.25rem 0.25rem 0.25rem 1rem;

          input {
            background: transparent;
            flex: 1;
            font-size: 0.875rem;
            color: #0f193d;
            outline: none;
            border: none;
          }
          button {
            background-color: #0f193d;
            color: #fff;
            padding: 0.5rem 1rem;
            border-radius: 9999px;
            font-size: 0.75rem;
            border: none;
            cursor: pointer;
          }
        }
      }
    }

    // Copyright styling
    &__copyright {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-size: fluid(0.5rem, 1rem);
      color: #FFFFFF;
      gap: 1rem;

      @media (min-width: 768px) {
        flex-direction: row;
      }

      .logo-area {
        img {
          width: fluid(95px, 168px);
          height: auto;
        }
      }
    }
  }
}
