*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1440 * 12);

  @media (max-width: 768px) {
    font-size:  12px;
  }
}

body,
html {
  overscroll-behavior: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
}
