@use "../../utils/functions" as *;
@use "../../utils/mixins" as *;

.hero-section {
  position: relative;
  padding-top: fluid(2rem, 4rem);
  // padding-bottom: fluid(4rem, 7rem);
  overflow: hidden;

  &__content-top {
    padding-block: fluid(27px, 40px);
    padding-inline: fluid(24px, 80px);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      gap: 4rem;
      text-align: left;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: fluid(2rem, 4rem);
    z-index: 10;
    // text-align: left;
    // justify-content: left;

    @media (min-width: 1024px) {
      text-align: left;
      flex: 1;
      max-width: fluid(579px, 700px);
      padding-top: 3rem;
    }
  }

  &__title {
    font-size: fluid(2.25rem, 4.5rem);
    color: #0f193d;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 1%;

    &__span {
      color: #c8700b;
    }
  }

  &__description {
    font-size: fluid(1rem, 1.125rem);
    color: #3f5772;
    max-width: 24rem;
    line-height: 22px;

    @media (min-width: 1024px) {
      max-width: 42rem;
      font-size: fluid(12px, 13px);
    }
    @media(width:768px){
      align-self: center;
      text-align: center;
      
    }
  }

  &__cta-button {
    font-size: fluid(1rem, 1.125rem);
    line-height: 100%;
    display: inline-flex;
    align-self: center;

    @media (min-width: 1024px) {
      align-self: flex-start;
    }

    &__inner {
      padding-inline: fluid(1.5rem, 2rem);
      padding-block: fluid(0.75rem, 1rem);
      background-color: #e2c8aa;
      color: #0f193d;
      border-radius: 41px;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: background-color 0.3s;
      border: none;
    }
  }

  &__image-wrapper {
    position: relative;
    @media (min-width: 1024px) {
      flex: 1;
      display: flex;
      justify-content: center;
      padding-top: 2rem;
      width: 663px;
    }

    &__image-container {
      position: relative;
      z-index: 10;
      width: 663px;
      max-width: 42rem;
      border-radius: 2.5rem;
      overflow: hidden;
      transform: translateY(-0.5rem);
    }
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
