@use "../../utils/functions" as *;
@use "../../utils/mixins" as *;

.logoSection{
    &__partners-strip {
    margin-top: fluid(4rem, 6rem);
    padding-inline: fluid(1.5rem, 4rem);
    margin-inline: auto;
    margin-bottom: 60px;
    width: 100%;

    @media(min-width: 1024px){
      width: 90%
    }
  }
  &__partners-strip__inner {
    display: flex;
    flex-direction: row;
    gap: fluid(2rem, 4rem);
    align-items: center;
    justify-content: center;
    

    @media (min-width: 1440px) {
      justify-content: space-between;
      width: 100%;
      padding-inline: 20px;
    }

    @media (width: 1024px) {
      justify-content: space-between;
      width: 100%;
    //   padding-inline: 20px;
    }

    @media (max-width: 992px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__partners-strip__text-container {
    display: block;
    max-width: 90rem;
    width: 50%;

    @media (max-width: 992px) {
      text-align: center;
    }
    @media(width:1024px){
        max-width: 30%;
      width: auto;
    }
    @media (min-width: 1280px) {
      max-width: 27%;
      width: auto;
    }

  }
  &__partners-strip__text {
    font-size: fluid(12px, 16px);
    line-height: fluid(22px, 26px);
    color: #5b738d;
  }
  &__partners-strip__logos-container {
    display: flex;
    flex-direction: row;
    gap: fluid(2rem, 6rem);
    align-items: center;
    justify-content: center;

    @media (min-width: 1440px) {
      justify-content: space-between;
      width: 58%;
      gap: 0;
    }

    @media(width:1024px){
        justify-content: space-between;
      width: 70%;
      gap: 0;
    }

    @media (max-width: 992px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: fluid(2rem, 4rem);
    }
  }
  &__partners-strip__logo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: fluid(60px, 110px);
  }

  &__partners-strip__logo-joined {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: fluid(0.15rem, 0.5rem);

    @media(min-width: 1024px){
        width:80px
    }

    @media(max-width:640px){
        width:60px
    }
  }

  &__partners-strip__logo-item__img {
    width: 150%;
    height: auto;
    object-fit: contain;
  }

  &__partners-strip__logo-item__country-img{
    width: 15%;
    height: auto;
    object-fit: contain;
  }
}