// Main stylesheet imports
@use "./pages/home" as *;

@use "./core/global" as *;

// Utility functions
@use "./utils/functions" as *;
// Utility mixins
@use "./utils/mixins" as *;

// Component styles
@use "./components/navbar" as *;
@use "./components/footer" as *;
//Home page components styles
@use "./components/homepage/hero" as *;
@use "./components/homepage/aboutus" as *;
@use "./components/homepage/trustedsolutions" as *;
@use "./components/homepage/testimonials" as *;
@use "./components/homepage/bankingtech" as *;  
@use "./components/homepage/benefits" as *;