@import "tailwindcss";

@theme {
  /* 1. Colors */
  --color-midnight: #0F193D;
  
  --color-gold-500: #C8700B;

  --color-beige: #E2C8AA;
  
  --color-peach: #FCEFE7;

  --color-steel: #3F5772;
  
  --color-gray-light: #F5F7FA;

  /* 2. Font Family */
  --font-sans: "Poppins";

  /* 3. Box Shadow */
  --shadow-soft: 0 20px 40px -10px rgba(0, 0, 0, 0.05);
}