@use "../../utils/functions" as *;
@use "../../utils/mixins" as *;

.features {
  padding: fluid(4rem, 8rem) fluid(1.5rem, 12rem);
  background-color: #ffffff;

  &__container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: fluid(4rem, 6rem);
    border: 1px solid #D5DBE1;
    border-radius: 24px;
    padding: fluid(48px, 60px);
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: left;
  }

  &__image-wrapper {
    flex: 1;
    width: 100%;
    // max-width: 500px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  }

  &__image {
    width: 100%;
    max-height: 300px;
    height: auto;
    object-fit: cover;
    display: block;
  }

  &__content {
    // flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__title {
    font-size: fluid(1.5rem, 2rem);
    font-weight: 500;
    line-height: 1.3;
    color: #c8700b;
  }

  &__description {
    font-size: fluid(1rem, 1.125rem);
    font-weight: 400;
    line-height: 1.6;
    color: #333333;
  }

  &__details {
    font-size: fluid(0.875rem, 1rem);
    font-weight: 300;
    line-height: 1.8;
    color: #6f758b;
  }
}