@import "tailwindcss";

@theme {
  /* 1. Colors */
  --color-navy-900: #0B1028;
  --color-navy-800: #151B33;
  
  --color-gold-500: #D99852;
  --color-gold-100: #FEF8F2;
  
  --color-peach: #FCEFE7;
  
  --color-gray-light: #F5F7FA;

  /* 2. Font Family */
  --font-sans: "Inter", sans-serif;

  /* 3. Box Shadow */
  --shadow-soft: 0 20px 40px -10px rgba(0, 0, 0, 0.05);
}